[submodule "tamaras-msc-thesis-bundle/src/main/resources/config/cloud-7"]
	path = tamaras-msc-thesis-bundle/src/main/resources/config/cloud-7
	url = git@github.com:TU-Berlin-DIMA/peelconf.cloud-7.git
[submodule "tamaras-msc-thesis-bundle/src/main/resources/config/cloud-11"]
	path = tamaras-msc-thesis-bundle/src/main/resources/config/cloud-11
	url = git@github.com:TU-Berlin-DIMA/peelconf.cloud-11.git
[submodule "tamaras-msc-thesis-bundle/src/main/resources/config/alexander-t540p"]
	path = tamaras-msc-thesis-bundle/src/main/resources/config/alexander-t540p
	url = git@github.com:aalexandrov/peelconf.alexander-t540p.git
